.btn-container{
  display: flex;
  gap: 0.3rem;
  margin: 0.2rem;
  justify-content: center;
}
.dark .btn{
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: medium;
    background-color: rgb(48, 47, 47);
    color: white;

}
.light .btn{
    padding: 1rem;
    margin: 1rem;
    border: none;
    color: black;
    border-radius: 0.5rem;
    font-size: medium;
    background-color: rgba(244, 239, 239, 0.927);
}

/* CSS for the header part */
.header{
  display: flex;
  justify-content: center;
}

.container {
  display: flex;           
  flex-wrap: wrap;        
  gap: 2rem;               
  justify-content: center; 
  padding: 2rem;
  max-width: 1200px;       
  margin: 0 auto;          

}

.btn.active {
  background-color: rgba(51, 203, 51, 0.624);
  /* color: white; */
 
}
